body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(59, 1, 30);
  color: rgb(211, 155, 164);
  width: 100vw;
}

.text {
  margin-top: 10vh;
  height: 35vh;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.games {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(211, 155, 164);
  width: 20vw;
  height: 20vw;
  margin: 15px 20px;
  color: rgb(59, 1, 30);
}

a :hover {
  color: orangered;
}

a {
  text-decoration: none;
  color: rgb(59, 1, 30);
}

@media screen and (max-width: 900px) {
  .games {
    width: 30vw;
    height: 30vw;
  }

  .games h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 27vw;
  }

  .games {
    width: 35vw;
    height: 35vw;
  }

  .games h3 {
    font-size: 14px;
  }

  .text {
    max-width: 80vw;
    margin: auto;
  }
}
